.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: none;
  margin: 0px 80px 0 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
