.reservation {
  display: flex;
  justify-content: center;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.reservation__form-container {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 8px;
  color: #000000;
}

.reservation__title {
  margin: 0 auto 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 0px;
}
