.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family:
    "Inter",
    "Noto Serif",
    Arial,
    Times New Roman,
    sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: none;
  margin: 0px 80px 0 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 28px 80px;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 0 0 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  margin-left: 80px;
}

.header__footer-content {
  padding-bottom: 0px;
}

.header__footer-paragraph {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.recipes {
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 100px;
  color: white;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
}

.recipes__iframe {
  border: none;
}

.recipes__title {
  max-width: 580px;
  margin: auto auto 24px 80px;
  font-size: 40px;
}

.recipes__subtitle {
  margin: auto auto 80px 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  width: 480px;
}

.recipes__iframe {
  width: 100%;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}

.reservation {
  display: flex;
  justify-content: center;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  border-top: 60px;
}

.form__container {
  width: 385px;
  text-align: center;
  padding-bottom: 8px;
  color: #000000;
}

.reservation__title {
  margin: 100px auto 80px auto;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 0px;
}

.form__label {
  margin-bottom: 8px;
}

.form__input {
  width: 100%;
  height: 60px;
  padding: 20px 15px;
  margin-top: 8px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.form__button {
  max-width: 385px;
  height: 60px;
  background: #3774df;
  color: rgb(255, 255, 255);
  margin-top: 32px;
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.form__checkbox-input {
  width: 20px;
  height: 20px;
}
